/*********************************************************************************************************************
 * Common elements
 *********************************************************************************************************************/

body
{
    background: url('../images/ricepaper.jpg');
}

h3
{
    margin-top: 0px;
    margin-bottom: 15px;
    color: rgba(57, 97, 50, 0.65);
}

td.zoom-in
{
    text-align: left;
}

.nav-tabs > li
{
    float: right;
}

ul.nav.nav-tabs
{
    margin-bottom: 12px;
    margin-top: 0px;
}

a.location-selector
{
    color: black;
}

.table.table
{
    text-align: center;
}

th
{
    text-align: center;
}

.modal-footer
{
    margin-top: 0px;
}

hr
{
    margin-top: 0px;
}

select
{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    direction: rtl;
}

.select2-container
{
    width: 100%;
    margin-bottom: 10px;
}

small
{
    margin-right: 6px;
}

.loading
{
    position: absolute;
    font-size: 10em;
    left: 50%;
    top: 40%;
    color: #888;
    opacity: 0.5;
}

.ui-datepicker
{
    z-index: 1100 !important;
}

button .fa
{
    margin-left: 5px;
}

label
{
    font-weight: normal;
    margin-right: 6px;
}

/*********************************************************************************************************************
 * Input group
 *********************************************************************************************************************/

.input-group,
.input-group-container
{
    direction: ltr;
    margin-bottom: 12px;
}

.input-group input
{
    text-align: right;
}

.input-group input[readonly="readonly"]
{
    background-color: #F5F5F5;
    text-align: center;
    color: #777;
}

.input-group input[readonly="readonly"].datepicker
{
    background-color: #ffffff;
}


/*********************************************************************************************************************
 * Columns
 *********************************************************************************************************************/

.col-left
{
    padding-left: 0px !important;
    padding-right: 6px  !important;
}

.col-right
{
    padding-left: 6px !important;
    padding-right: 0px !important;
}

.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-12
{
    padding: 0px 0px 0px 0px;
}

.spacer .col-xs-12
{
    margin-bottom: 10px;
}


/*********************************************************************************************************************
 * Input toolbar
 *********************************************************************************************************************/

.input-toolbar
{
    margin-bottom: 18px;
}

.input-toolbar button
{
    margin-left: 6px;
}

.input-toolbar-dropdown
{
    margin-left: 6px;
    height: 30px;
    padding: 6px 12px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    direction: rtl
}


/*********************************************************************************************************************
 * Bullet tabset
 *********************************************************************************************************************/

.bullet-tabset ul.nav.nav-tabs
{
    padding-right: 0px;
    border-bottom: none;
    margin-bottom: 18px;
}

.bullet-tabset .nav-tabs>li>a
{
    padding: 5px 10px;
    background-color: rgba(148, 191, 216, 0.2);
    border-bottom-color: #ddd;
    border-radius: 15px;
    color: #555;
    border-color: #ddd;
    margin-left: 8px;
}

.bullet-tabset .nav-tabs>li.active>a,
.bullet-tabset .nav-tabs>li.active>a:hover,
.bullet-tabset .nav-tabs>li.active>a:focus
{
    background-color: rgba(148, 191, 216, 0.5);
    font-weight: bold;
}


/*********************************************************************************************************************
 * Navbar
 *********************************************************************************************************************/

.navbar
{
    background-color: rgba(216, 216, 216, 0.39);
    min-height: 40px;
    margin-bottom: 20px;
}

.navbar-nav 
{
    margin: 0;
    float: right;
    padding-right: 0px;
}

.navbar-nav > li 
{
    float: none;
    display: inline-block;
}

.navbar-nav > li > a
{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60px;
    text-align: center;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover
{
    background-color: rgba(206, 206, 206, 0.82);
    padding-bottom: 7px;
    border-bottom-color: rgb(187, 150, 56);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.navbar #logo
{
    margin-bottom: 0px;
    padding-top: 10px;
    font-weight: bold;
    color: #999;
}


/*********************************************************************************************************************
 * Icons
 *********************************************************************************************************************/

.fa-skype
{
    color: #3276b1;
    padding-left: 7px;
}


/*********************************************************************************************************************
 * Dashboard
 *********************************************************************************************************************/

.dashboard-contents .table.table
{
    text-align: right;
}

.dashboard-contents td#done
{
    width: 30px;
}

.dashboard-contents tr.todo.ng-leave
{
    -webkit-animation: bounceOutRight 0.75s;
    -moz-animation: bounceOutRight 0.75s;
    -ms-animation: bounceOutRight 0.75s;
    animation: bounceOutRight 0.75s;
}


/*********************************************************************************************************************
 * Todo modal
 *********************************************************************************************************************/

.modal.todo textarea
{
    margin-bottom: 15px;
}


/*********************************************************************************************************************
 * Patients
 *********************************************************************************************************************/

.patients-contents tr.starting-patient
{
    background-color: rgba(226, 237, 255, 0.8);
}

.patients-contents tr.new-patient
{
    background-color: rgba(223, 233, 225, 0.8);
}

.patients-contents tr.inactive-patient
{
    background-color: rgba(255, 221, 221, 0.8);
}

.patients-contents td#name
{
    text-align: right;
}

.patients-contents a.contact-glyph
{
    color: black;
    padding-left: 20px;
}


/*********************************************************************************************************************
 * Patient
 *********************************************************************************************************************/

.patient-contents td#appointment-type
{
    width: 30px;
}

.patient-contents tr.future-appointment
{
    background-color: rgba(223, 233, 225, 0.42);
}


/*********************************************************************************************************************
 * Appointment modal
 *********************************************************************************************************************/

.modal.appointment .select2-container
{
    padding-left: 5px;
}

.modal.appointment .inline-datepicker
{
    margin-bottom: 15px;
}


/*********************************************************************************************************************
 * Appointment modal
 *********************************************************************************************************************/

 .modal.payment #noEmailWarning
{
    color: red;
}


/*********************************************************************************************************************
 * Media tweaks
 *********************************************************************************************************************/

@media(max-width: 767px)
{
    .input-group-addon
    {
        padding: 6px 6px;
    }

    .form-control
    {
        padding: 6px 6px;
    }

    ul.nav.nav-tabs
    {
        margin-bottom: 12px;
        margin-top: 0px;
    }

    .table > thead > tr > th
    {
        padding: 0px 8px 4px 8px;
    }

    .modal.appointment .inline-datepicker
    {
        padding-right: 25px;
    }

    .loading
    {
        font-size: 7em;
        left: 38%;
        top: 38%;
    }
}
