table.table
    thead
        tr
            th When
            th Patient
    tbody
        tr(ng-repeat="appointment in appointments | orderBy: '-when'")
            td {{appointment.when | date:'dd MMMM HH:mm'}}
            td {{appointment.patient.name}}
