row
    button.btn.btn-sm.btn-primary.pull-right פגישה חדשה

    .input-group.pull-left(style='width: 100px')
        input.input-sm.form-control(type='text', id='search', placeholder='חפש')

table.table
    thead
        tr
            th מתי
            th מי
    tbody
        tr(ng-repeat="appointment in appointments | orderBy: '-when'")
            td {{appointment.when | date:'dd MMMM HH:mm'}}
            td {{appointment.patient.name}}
