.modal-body#appointment-modal

        row
            .col-xs-12

                datepicker#appointment-datepicker(type='text', show-weeks='false', ng-model='appointment.when')

        row.clearfix

            div.col-xs-6

                div#appointment-settings

                    .input-group
                        span.input-group-addon
                            i.glyphicon.glyphicon-usd
                        input.form-control(type='text', id='price', ng-model='appointment.price')

                    label.checkbox(ng-show='mode == "edit"')
                        input(type='checkbox', ng-model='appointment.summarySent')
                        | סוכמה

                    label.checkbox(ng-show='mode == "edit"')
                        input(type='checkbox', ng-model='appointment.missed') 
                        | לא הגיע

            div.col-xs-6
                
                timepicker(ng-model='appointment.when', hour-step='1', minute-step='15', show-meridian='false')

        
.modal-footer

    button.btn.btn-sm.btn-primary.pull-left(ng-click='update()', ng-show='appointment.payment === null') {{mode == 'create' ? 'צור פגישה' : 'עדכן פגישה'}}
    
    button.btn.btn-sm.btn-default.pull-left(ng-click='cancel()') סגור
    
    button.btn.btn-sm.btn-danger(ng-click='delete()', ng-show='mode == "edit" && appointment.payment === null') מחק
