row
    h3 לבצע

    table.table.dashboard-table
        tbody
            tr(ng-repeat="todo in todos")
                td
                    form
                        input(type='checkbox', ng-model='todo.done', ng-change='completeTodoAndRemove(todo, $index)')
                td
                    {{todo.toString()}}
                td
                    a.location-selector(ng-click='todo.view()')
                        i.glyphicon.glyphicon-zoom-in

