row
    h3 לבצע

    table.table.dashboard-table
        tbody
            tr(ng-repeat="todo in todos")
                td
                    input(type='checkbox')
                td
                    {{todo.toString()}}
