row
    alert(ng-repeat='alert in errorHandler.alerts', type='{{alert.type}}', close='errorHandler.closeAlert($index)') {{alert.message}}

row.dashboard-contents(ng-show='!loading')

    row.clearfix

        row.clearfix

            h3.pull-right משימות

        row.clearfix

            tabset

                button#dashboard.btn.btn-sm.btn-primary.pull-left(ng-click='createTodo()') צור משימה

                tab#todos(ng-attr-heading='חשוב ({{todos.length}})')

                    row
                        p(ng-show='todos.length == 0') אין משימות לביצוע

                        table.table.dashboard-table
                            tbody

                                tr(ng-repeat="todo in todos | orderBy: 'importance()'")

                                    td#dashboard-checkbox-column

                                        form
                                            input(type='checkbox', ng-model='todo.done', ng-change='completeTodoAndRemove(todo, $index)', ng-show='todo.complete')

                                    td
                                        {{todo.toString()}}

                                    td.zoom-in

                                        a.location-selector(ng-click='todo.view()', ng-show='todo.view')
                                            i.glyphicon.glyphicon-zoom-in

                tab#todos(ng-attr-heading='אחר כך ({{lowPriorityTodos.length}})')

                    row
                        p(ng-show='lowPriorityTodos.length == 0') אין משימות לביצוע

                        table.table.dashboard-table
                            tbody

                                tr(ng-repeat="todo in lowPriorityTodos | orderBy: 'importance()'")

                                    td#dashboard-checkbox-column

                                        form
                                            input(type='checkbox', ng-model='todo.done', ng-change='completeTodoAndRemove(todo, $index)', ng-show='todo.complete')

                                        td
                                            {{todo.toString()}}

                                        td.zoom-in
                                            a.location-selector(ng-click='todo.view()', ng-show='todo.view')
                                                i.glyphicon.glyphicon-zoom-in


    row.clearfix

        row.clearfix

            h3.pull-right פגישות

        row.clearfix

            tabset

                button#dashboard.btn.btn-sm.btn-primary.pull-left(ng-click='createAppointment()') צור פגישה

                tab#todos(ng-attr-heading='השבוע ({{totalNumberOfAppointmentsThisWeek}})')

                    p(ng-show='appointmentsThisWeek.length == 0') אין עוד פגישות השבוע

                    table.table.dashboard-table

                        tbody

                            tr(ng-repeat="appointment in appointmentsThisWeek | orderBy:'when'")

                                td
                                    span.fa.fa-skype(ng-show='appointment.type == "skype"')
                                    {{appointment.when | date:"EEEE, dd MMMM 'ב-' HH:mm"}} עם {{appointment.patient.name}}

                                td.zoom-in
                                    a.location-selector(href='patients/{{appointment.patient._id}}')
                                        i.glyphicon.glyphicon-zoom-in

                tab#todos(ng-attr-heading='שבוע הבא ({{appointmentsNextWeek.length}})')

                    p(ng-show='appointmentsNextWeek.length == 0') אין פגישות בשבוע הבא

                    table.table.dashboard-table

                        tbody

                            tr(ng-repeat="appointment in appointmentsNextWeek | orderBy:'when'")

                                td
                                    span.fa.fa-skype(ng-show='appointment.type == "skype"')
                                    {{appointment.when | date:"EEEE, dd MMMM 'ב-' HH:mm"}} עם {{appointment.patient.name}}

                                td.zoom-in
                                    a.location-selector(href='patients/{{appointment.patient._id}}')
                                        i.glyphicon.glyphicon-zoom-in

row.loading(ng-show='loading')
    i.fa.fa-circle-o-notch.fa-spin