row
    alert(ng-repeat='alert in errorHandler.alerts', type='{{alert.type}}', close='errorHandler.closeAlert($index)') {{alert.message}}

row.clearfix
    h3.dashboard-title.pull-right לבצע
    button#dashboard-create-appointment.btn.btn-sm.btn-primary.pull-left(ng-click='createAppointment()') צור פגישה

row
    p(ng-show='todos.length == 0') אין משימות לביצוע

    table.table.dashboard-table
        tbody
            tr(ng-repeat="todo in todos | orderBy: 'importance()'")
                td#dashboard-checkbox-column
                    form
                        input(type='checkbox', ng-model='todo.done', ng-change='completeTodoAndRemove(todo, $index)', ng-show='todo.complete')
                td
                    {{todo.toString()}}
                td
                    a.location-selector(ng-click='todo.view()')
                        i.glyphicon.glyphicon-zoom-in

row
    h3.dashboard-title פגישות השבוע

    p(ng-show='appointmentsThisWeek.length == 0') אין פגישות השבוע

    table.table.dashboard-table
        tbody
            tr(ng-repeat="appointment in appointmentsThisWeek | orderBy:'when'")
                td {{appointment.when | date:"EEEE, dd MMMM 'ב-' HH:mm"}} עם {{appointment.patient.name}}
                td
                    a.location-selector(href='patients/{{appointment.patient._id}}')
                        i.glyphicon.glyphicon-zoom-in

row
    h3.dashboard-title פגישות בשבוע הבא

    p(ng-show='appointmentsNextWeek.length == 0') אין פגישות בשבוע הבא

    table.table.dashboard-table
        tbody
            tr(ng-repeat="appointment in appointmentsNextWeek | orderBy:'when'")
                td {{appointment.when | date:"EEEE, dd MMMM 'ב-' HH:mm"}} עם {{appointment.patient.name}}
                td
                    a.location-selector(href='patients/{{appointment.patient._id}}')
                        i.glyphicon.glyphicon-zoom-in
