row
    h3 לבצע

    table.table.dashboard-table
        tbody
            tr(ng-repeat="(patientId, patientInfo) in patientsWithUnsummarizedAppointments")
                td
                    ל{{patientInfo.name}} יש {{patientInfo.appointments}} פגישות לא מסוכמות
                td
                    a.location-selector(href='patients/{{patientId}}')
                        i.glyphicon.glyphicon-zoom-in

row
    h3 פגישות קרובות

    table.table.dashboard-table
        tbody
            tr(ng-repeat="appointment in appointmentsComingUp | orderBy:'when'")
                td {{appointment.when | date:"EEEE, dd MMMM 'ב-' HH:mm"}} עם {{appointment.patient.name}}
                td
                    a.location-selector(href='patients/{{appointment.patient._id}}')
                        i.glyphicon.glyphicon-zoom-in

