row
    alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}

row
    h3.view-header
        {{patient.name}}
        small
            {{patient.email}}

row.clearfix

    tabset

        tab(heading='Appointments')

            row
                .col-xs-12
                    
                    button.btn.btn-sm.btn-primary.pull-left(ng-click='createAppointment()') New appointment

            row

                table.table
                    thead
                        tr
                            th When
                            th Summarized
                            th Paid
                            th
                    tbody
                        tr(ng-repeat="appointment in patient.appointments | orderBy:'-when'", ng-class='getAppointmentClass(appointment)')
                            td {{appointment.when | date:'dd MMMM HH:mm'}}
                            td
                                i(ng-class='getAppointmentSummaryIcon(appointment)', ng-click="toggleAppointmentSummarized(appointment)")
                            td
                                i(ng-class='getAppointmentPaidIcon(appointment)')
                            td(ng-click="viewAppointment(appointment)")
                                i.glyphicon.glyphicon-zoom-in

        tab(heading='Payments')

            row
                .col-xs-12
        
                    button.btn.btn-sm.btn-primary.pull-left(ng-click='createPayment()') New payment

            row

                table.table
                    thead
                        tr
                            th When
                            th Sum
                    tbody
                        tr(ng-repeat="payment in patient.payments | orderBy:'-when'")
                            td {{payment.when | date:'dd MMMM HH:mm'}}
                            td {{payment.sum}}

        tab(heading='Profile')

            row
                .col-xs-12
                    
                    button.btn.btn-sm.btn-primary(ng-click='update()') Update

            row.clearfix
            
                .col-xs-8.col-sm-6.col-left
                    .form-group
                        .input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-user
                            input.form-control(type='text', id='name', placeholder='Name', ng-model='patient.name')

                        .input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-envelope
                            input.form-control(type='email', id='email', placeholder='Email', ng-model='patient.email')

                        .input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-phone
                            input.form-control(type='text', id='primary_phone', placeholder='Phone', ng-model='patient.primary_phone')

                .col-xs-4.col-sm-6.col-right
                    .form-group

                        .input-group
                            span.input-group-addon
                                i.glyphicon.glyphicon-usd
                            input.form-control(type='text', id='price', placeholder='Appointment price', ng-model='patient.appointment_price')

                        .input-group
                            span.input-group-addon Owed
                            input.form-control(type='text', readonly, placeholder='{{debt}}') 