row
    button.btn.btn-sm.btn-primary.pull-right(ng-click='create()') מטופל חדש

    .input-group.pull-left(style='width: 100px')
        input.input-sm.form-control(type='text', id='search', placeholder='חפש', ng-model='searchTerm')

    .cbx-container.pull-left
        label.cbx(for='abc') רק פעילים
        input(type='checkbox', id='abc', ng-model='showActivePatientsOnly', ng-change='reloadPatients()').cbx

table.table

    thead

        tr
            th#patient-new-indicator
            th שם
            th קשר
            th 

    tbody

        tr(ng-repeat="patient in patients | orderBy: 'name' | filter: searchFilter")

            td#patient-list-status-indicator
                i(ng-class='getPatientGlyphIconByStatus(patient)')

            td#patient-list-name {{patient.name}}

            td
                a(href='mailto:{{patient.email}}').contact-glyph
                    i.glyphicon.glyphicon-envelope

                a(href='tel:{{patient.primaryPhone}}', ng-show='patient.primaryPhone.length').contact-glyph
                    i.glyphicon.glyphicon-phone-alt

            td
                a.location-selector(href='patients/{{patient._id}}')
                    i.glyphicon.glyphicon-zoom-in
