row
    button.btn.btn-sm.btn-primary.pull-right(ng-click='create()') מטופל חדש

    .input-group.pull-left(style='width: 100px')
        input.input-sm.form-control(type='text', id='search', placeholder='חפש', ng-model='searchTerm')



table.table
    thead
        tr
            th שם
            th מייל
            th 
    tbody
        tr(ng-repeat="patient in patients | orderBy: 'name' | filter: searchFilter")
            td {{patient.name}}
            td {{patient.email}}
            td
                a.location-selector(href='patients/{{patient._id}}')
                    i.glyphicon.glyphicon-zoom-in
