row
    .col-xs-12
        alert(ng-repeat='alert in errorHandler.alerts', type='{{alert.type}}', close='errorHandler.closeAlert($index)') {{alert.message}}

row
    .col-xs-12.patient-contents(ng-show='!loading')

        row
            .col-xs-12
                h3.view-header
                    {{patient.name}}
                    small
                        {{patient.email}}

        row.clearfix
            .col-xs-12
                tabset
                    tab(heading='פגישות')

                        row
                            .col-xs-12.input-toolbar
                                button.btn.btn-sm.btn-primary.pull-right(ng-click='createAppointment()') צור פגישה

                        row
                            .col-xs-12
                                table.table
                                    thead
                                        tr
                                            th
                                            th מתי
                                            th סיכום נשלח
                                            th שולמה
                                            th
                                    tbody
                                        tr(ng-repeat="appointment in patient.appointments | orderBy:'-when'", ng-class='getAppointmentClass(appointment)')
                                            td#appointment-type
                                                span.fa.fa-skype(ng-show='appointment.type == "skype"')
                                            td
                                                {{appointment.when | date:'dd MMMM yyyy - HH:mm'}}
                                            td
                                                i(ng-class='getAppointmentSummaryIcon(appointment)', ng-click="toggleAppointmentSummarized(appointment)")
                                            td
                                                i(ng-class='getAppointmentPaidIcon(appointment)')
                                            td.zoom-in(ng-click="updateAppointment(appointment)")
                                                i.glyphicon.glyphicon-zoom-in
                    tab(heading='תשלומים')

                        row
                            .col-xs-12.input-toolbar
                                button.btn.btn-sm.btn-primary.pull-right(ng-click='createPayment()') צור תשלום

                        row
                            .col-xs-12
                                table.table
                                    thead
                                        tr
                                            th מתי
                                            th סכום
                                            th חשבונית
                                    tbody
                                        tr(ng-repeat="payment in patient.payments | orderBy:'-when'")
                                            td {{payment.when | date:'dd MMMM yyyy - HH:mm'}}
                                            td {{payment.sum}}
                                            td
                                                i.glyphicon.glyphicon-remove(ng-show='!payment.invoice.url')
                                                a(ng-href='{{payment.invoice.url}}')
                                                    i.glyphicon.glyphicon-list-alt(ng-show='payment.invoice.url')
                    tab(heading='פרופיל')

                        row
                            .col-xs-12.input-toolbar
                                button.btn.btn-sm.btn-primary.pull-right(ng-click='update()') עדכן פרופיל

                        row
                            .col-xs-12
                                .form-group

                                    row
                                        .col-xs-12
                                            .input-group
                                                input.form-control(type='text', id='name', placeholder='שם', ng-model='patient.name')
                                                span.input-group-addon
                                                    i.glyphicon.glyphicon-user
                                            .input-group
                                                input.form-control(type='email', id='email', placeholder='מייל', ng-model='patient.email')
                                                span.input-group-addon
                                                    i.glyphicon.glyphicon-envelope
                                            .input-group
                                                input.form-control(type='text', id='primaryPhone', placeholder='טלפון', ng-model='patient.primaryPhone')
                                                span.input-group-addon
                                                    i.glyphicon.glyphicon-phone-alt

                                    row
                                        .col-xs-6.col-left
                                            .input-group
                                                span.input-group-addon ש"ח
                                                input.form-control(type='text', readonly, ng-model='patient.debt.total')
                                                span.input-group-addon חוב
                                        .col-xs-6.col-right
                                            .input-group
                                                span.input-group-addon ש"ח
                                                input.form-control(type='text', id='price', placeholder='מחיר פגישה', ng-model='patient.appointmentPrice')
                                                span.input-group-addon תמחור

                                     row
                                        .input-group
                                            select.patient-dropdown(ng-model='patient.appointmentReminders')
                                                option(value='none') ללא
                                                option(value='sms') סמס
                                                option(value='email') אימייל
                                                option(value='smsAndEmail') סמס ואימייל
                                            span.input-group-addon תזכורות

                                    row(ng-show='getPatientLastAppointmentSummary(patient).length')
                                        .col-xs-12
                                            .input-group
                                                textarea.form-control#summary(readonly='readonly') {{getPatientLastAppointmentSummary(patient)}}
                                                span.input-group-addon
                                                    | סיכום אחרון
                                                    br
                                                    | ({{getPatientLastAppointmentDate(patient)}})

                                    row
                                        .col-xs-12
                                            hr

                                    row
                                        .col-xs-12
                                            .input-group
                                                input.form-control(type='text', readonly, ng-model='effectiveStatus')
                                                span.input-group-addon סטטוס
                                            .input-group
                                                select.patient-dropdown(ng-model='patient.manualStatus')
                                                    option(value='undefined') מחושב אוטומטית
                                                    option(value='starting') ידני: מתחיל
                                                    option(value='new') ידני: חדש
                                                    option(value='active') ידני: בתהליך
                                                    option(value='inactive') ידני: לא פעיל
                                                    option(value='recalculate') חשב מחדש
                                                span.input-group-addon חישוב סטטוס
                                            .input-group(ng-show='patient.getStatus() == "inactive"')
                                                select.patient-dropdown(ng-model='patient.inactivityReason')
                                                    option(value='undefined') לא ידועה
                                                    option(value='completed') הטיפול הגיע לסיומו
                                                    option(value='terminated') ביוזמת המטופל
                                                span.input-group-addon סיבת הפסקת הטיפול
                                            .input-group(ng-show='patient.getStatus() == "inactive"')
                                                select.patient-dropdown(ng-model='patient.followup')
                                                    option(value='none') ללא
                                                    option(value='random') מדי פעם
                                                span.input-group-addon מעקב


row.loading(ng-show='loading')
    i.fa.fa-circle-o-notch.fa-spin