row
    alert(ng-repeat='alert in errorHandler.alerts', type='{{alert.type}}', close='errorHandler.closeAlert($index)') {{alert.message}}

row
    button.btn.btn-sm.btn-primary.pull-right(ng-click='create()') צור מטופל

    .input-group.pull-left(style='width: 100px')
        input.input-sm.form-control(type='text', id='search', placeholder='חפש', ng-model='searchTerm')

    .cbx-container.pull-left
        label.cbx(for='abc') רק פעילים
        input(type='checkbox', id='abc', ng-model='showActivePatientsOnly', ng-change='reloadPatients()').cbx

table.table

    thead

        tr
            th שם
            th קשר
            th 

    tbody

        tr#patients-patient-row(ng-repeat="patient in patients | orderBy: ['getFreshness()', 'name'] | filter: searchFilter", ng-class='patient.getStatus() + "-patient"')

            td#patient-list-name {{patient.name}}

            td
                a(href='mailto:{{patient.email}}', ng-show='patient.email.length').contact-glyph
                    i.glyphicon.glyphicon-envelope

                a(href='tel:{{patient.primaryPhone}}', ng-show='patient.primaryPhone.length').contact-glyph
                    i.glyphicon.glyphicon-phone-alt

            td
                a.location-selector(href='patients/{{patient._id}}')
                    i.glyphicon.glyphicon-zoom-in
