row
    .col-xs-12
        alert(ng-repeat='alert in errorHandler.alerts', type='{{alert.type}}', close='errorHandler.closeAlert($index)') {{alert.message}}

row
    .col-xs-12.patients-contents(ng-show='!loading')

        row
            .col-xs-12.input-toolbar
                button.btn.btn-sm.btn-primary(ng-click='create()') צור מטופל
                .input-group.pull-left(style='width: 100px')
                    input.input-sm.form-control(type='text', id='search', placeholder='חפש', ng-model='searchTerm')
                .input-group.pull-left
                    select.input-toolbar-dropdown(ng-model='service.configuration.filterType', ng-change='reloadPatients()')
                        option(value='active') פעילים
                        option(value='all') כולם
                        option(value='withDebt') בעלי חוב

        row
            .col-xs-12.patients-table
                table.table
                    thead
                        tr
                            th
                            th שם
                            th קשר
                            th(ng-show='service.configuration.filterType=="withDebt"') חוב ({{totalDebt}})
                            th
                    tbody
                        tr(ng-repeat="patient in patients | orderBy: ['getFreshness()', 'name'] | filter: searchFilter", ng-class='patient.getClass()')
                            td#hasFutureAppointment
                                span.fa.fa-caret-left(ng-show='patient.futureAppointmentsCount()')
                            td#name {{patient.name}}
                            td
                                a(href='mailto:{{patient.email}}', ng-show='patient.email.length').contact-glyph
                                    i.glyphicon.glyphicon-envelope
                            td(ng-show='service.configuration.filterType=="withDebt"')
                                {{patient.debt.total}}
                            td.zoom-in
                                a.location-selector(href='patients/{{patient._id}}')
                                    i.glyphicon.glyphicon-zoom-in

        row
            .col-xs-12.footer
                p
                    מתחילים: {{patientsByStatus.starting}}
                    span#separator
                        |
                    חדשים: {{patientsByStatus.new}}
                    span#separator
                        |
                    פעילים: {{patientsByStatus.active}}
                    span#separator
                        |
                    לא פעילים: {{patientsByStatus.inactive}}
                    span#separator
                        |
                    סה"כ: {{patients.length}}

row
    .loading(ng-show='loading')
        i.fa.fa-circle-o-notch.fa-spin