.modal-body

    .clearfix
    

        .col-md-6

            .input-group
                input.form-control(type='text', id='primaryPhone', placeholder='טלפון', ng-model='patient.primaryPhone')
                span.input-group-addon
                    i.glyphicon.glyphicon-phone

            .input-group
                span.input-group-addon ש"ח
                input.form-control(type='text', id='price', placeholder='מחיר פגישה', ng-model='patient.appointmentPrice')
                span.input-group-addon תמחור

        .col-md-6

            .input-group
                input.form-control(type='text', id='name', placeholder='שם', ng-model='patient.name')
                span.input-group-addon
                    i.glyphicon.glyphicon-user

            .input-group
                input.form-control(type='email', id='email', placeholder='מייל', ng-model='patient.email')
                span.input-group-addon
                    i.glyphicon.glyphicon-envelope

.modal-footer

    button.btn.btn-sm.btn-primary.pull-left(ng-click='create()') צור מטופל

    button.btn.btn-sm.btn-default.pull-left(ng-click='cancel()') סגור
    
