row
    alert(ng-repeat='alert in alerts', type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}

row
    h3.view-header
        {{patient.name}}
        small
            {{patient.email}}

row.clearfix

    tabset

        tab#appointments-tab(heading='פגישות')

            row
                .col-xs-12
                    
                    button.btn.btn-sm.btn-primary.pull-right(ng-click='createAppointment()') פגישה חדשה

            row

                table.table
                    thead
                        tr
                            th מתי
                            th סוכמה
                            th שולמה
                            th
                    tbody
                        tr(ng-repeat="appointment in patient.appointments | orderBy:'-when'", ng-class='getAppointmentClass(appointment)')
                            td {{appointment.when | date:'dd MMMM HH:mm'}}
                            td
                                i(ng-class='getAppointmentSummaryIcon(appointment)', ng-click="toggleAppointmentSummarized(appointment)")
                            td
                                i(ng-class='getAppointmentPaidIcon(appointment)')
                            td(ng-click="viewAppointment(appointment)")
                                i.glyphicon.glyphicon-zoom-in

        tab(heading='תשלומים')

            row
                .col-xs-12
        
                    button.btn.btn-sm.btn-primary.pull-right(ng-click='createPayment()') תשלום חדש

            row

                table.table
                    thead
                        tr
                            th מתי
                            th סכום
                    tbody
                        tr(ng-repeat="payment in patient.payments | orderBy:'-when'")
                            td {{payment.when | date:'dd MMMM HH:mm'}}
                            td {{payment.sum}}

        tab(heading='פרופיל')

            row
                .col-xs-12
                    
                    button.btn.btn-sm.btn-primary.pull-right(ng-click='update()') עדכן פרופיל

            row.clearfix
            
                .form-group

                    .input-group
                        span.input-group-addon
                            i.glyphicon.glyphicon-user
                        input.form-control(type='text', id='name', placeholder='שם', ng-model='patient.name')

                    .input-group
                        span.input-group-addon
                            i.glyphicon.glyphicon-envelope
                        input.form-control(type='email', id='email', placeholder='מייל', ng-model='patient.email')

                    .input-group
                        span.input-group-addon
                            i.glyphicon.glyphicon-phone-alt
                        input.form-control(type='text', id='primaryPhone', placeholder='טלפון', ng-model='patient.primaryPhone')

                    row.clearfix
                        .col-xs-6.col-left

                            .input-group
                                span.input-group-addon חוב
                                input.form-control(type='text', readonly, ng-model='patient.debt.total')

                        .col-xs-6.col-right

                            .input-group
                                span.input-group-addon מחיר לפגישה
                                input.form-control(type='text', id='price', placeholder='מחיר פגישה', ng-model='patient.appointmentPrice')

                    hr#patient-status-separator

                    .input-group
                        span.input-group-addon סטטוס
                        input.form-control(type='text', readonly, ng-model='translatedStatus')

                    select.patient-dropdown(ng-model='patient.inactivityReason', ng-show='patient.status == "inactive"')
                        option(value='undefined') לא ידועה סיבת הפסקת הטיפול
                        option(value='completed') הטיפול הגיע לסיומו
                        option(value='terminated') המטופל סיים את הטיפול ביוזמתו
