extends layout

block body

    div
        nav.navbar.navbar-default(role='navigation', ng-controller="NavController")

            .container

                .navbar-header.pull-right
                    ul.nav.navbar-nav
                        li(ng-class="{ active: isActive('/') }")
                            a(href='/')
                                i.glyphicon.glyphicon-home
                        li(ng-class="{ active: isActive('/patient') }")
                            a(href='/patients')
                                i.glyphicon.glyphicon-user

                .pull-left
                    p#logo טל קפלינסקי

    .container
        div
            div(ng-view)
