extends layout

block body

    .container

        nav.navbar.navbar-default(role='navigation', ng-controller="NavController")

            .navbar-header

            ul.nav.navbar-nav

                li(ng-class="{ active: isActive('/') }")
                    a(href='/')
                        i.glyphicon.glyphicon-home

                li(ng-class="{ active: isActive('/patient') }")
                    a(href='/patients')
                        i.glyphicon.glyphicon-user

        div(ng-controller='DashboardController')
            div(ng-view)

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/select2/select2.css')
    link(rel='stylesheet', href='/css/app.css')

    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/select2/select2.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/underscore/underscore.js')
    script(src='bower_components/async/lib/async.js')
    script(src='bower_components/angular-ui-select2/src/select2.js')

    script(src='js/angular/overrides.js')
    script(src='js/angular/angular-locale_he-il.js')

    script(src='js/common/filters.js')
    script(src='js/common/services.js')
    script(src='js/dashboard/controllers.js')
    script(src='js/patient/controllers.js')
    script(src='js/patient/services.js')
    script(src='js/appointment/controllers.js')
    script(src='js/appointment/services.js')
    script(src='js/payment/controllers.js')
    script(src='js/payment/services.js')
    script(src='js/todo/services.js')
    script(src='js/app.js')
